dm-control==1.0.34
envpool==0.8.4
gymnasium==1.2.0
gymnasium[mujoco]
gymnasium[other]
gymnasium[atari]
matplotlib==3.10.6
numpy==1.26.4
shimmy==2.0.0
tensorboard==2.20.0
torch==2.8.0
torchrl==0.10.0
tqdm==4.67.1
triton==3.4.0
tyro==0.9.32
